# Mac operating system
.DS_Store

# Development Environment Files
## VSCode
.vscode/*

# Dependency Directories
__pycache__/
.pip-cache/

# Outputs and logs
wandb
outputs
logs

# environment variables
.env

# Datasets
data

left_off.txt